<p id="notice"><%= notice %></p>

<h1>
  <%= @plant.name %>
</h1>

<section class="">
  <dl class="row">
    <dt class="col-md-3 col-sm-6">Wasserbedarf</dt>
    <dd class="col-md-9 col-sm-6"><%= @plant.water_requirement.presence || "unbekannt"%></dd>

    <dt class="col-md-3 col-sm-6">Zehrstärke</dt>
    <dd class="col-md-9 col-sm-6"><%= @plant.fertilizer_requirement.presence || "unbekannt"%></dd>
  
    <dt class="col-md-3 col-sm-6">Standort</dt>
    <dd class="col-md-9 col-sm-6"><%= @plant.location_requirement.presence || "unbekannt"%></dd>

    <dt class="col-md-3 col-sm-6">Wurzel</dt>
    <dd class="col-md-9 col-sm-6"><%= @plant.root_type.presence || "unbekannt"%></dd>
  
    <dt class="col-md-3 col-sm-6">Abstand zur nächsten Pflanze</dt>
      <% if !@plant.dist_to_neighbor.nil? %>
        <dd class="col-md-9 col-sm-6"><%= @plant.dist_to_neighbor %> cm</dd>
      <% else %>
        <dd class="col-md-9 col-sm-6">unbekannt</dd>
      <% end %>

    <dt class="col-md-3">
      <% if @plant.seed_outdoors %>
        Aussaat Freiland
      <% else %> 
        Pflanzung Freiland
      <% end %>
    </dt>
    <dd class="col-md-9">
      <div class="table-responsive">
        <table class="plant-calendar">
          <thead>
            <tr>
              <th>Jan</div>
              <th>Feb</div>
              <th>Mär</div>
              <th>Apr</div>
              <th>Mai</div>
              <th>Jun</div>
              <th>Jul</div>
              <th>Aug</div>
              <th>Sep</div>
              <th>Okt</div>
              <th>Nov</div>
              <th>Dez</div>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td style="<%= @plant.put_outdoors_jan ? "background-color: DodgerBlue" : ""%>"></td>
              <td style="<%= @plant.put_outdoors_feb ? "background-color: DodgerBlue" : ""%>"></td>
              <td style="<%= @plant.put_outdoors_mar ? "background-color: DodgerBlue" : ""%>"></td>
              <td style="<%= @plant.put_outdoors_apr ? "background-color: DodgerBlue" : ""%>"></td>
              <td style="<%= @plant.put_outdoors_may ? "background-color: DodgerBlue" : ""%>"></td>
              <td style="<%= @plant.put_outdoors_jun ? "background-color: DodgerBlue" : ""%>"></td>
              <td style="<%= @plant.put_outdoors_jul ? "background-color: DodgerBlue" : ""%>"></td>
              <td style="<%= @plant.put_outdoors_aug ? "background-color: DodgerBlue" : ""%>"></td>
              <td style="<%= @plant.put_outdoors_sep ? "background-color: DodgerBlue" : ""%>"></td>
              <td style="<%= @plant.put_outdoors_oct ? "background-color: DodgerBlue" : ""%>"></td>
              <td style="<%= @plant.put_outdoors_nov ? "background-color: DodgerBlue" : ""%>"></td>
              <td style="<%= @plant.put_outdoors_dec ? "background-color: DodgerBlue" : ""%>"></td>
            </tr>  
          </tbody>
        </table>
      </div>
    </dd>

    <% if @plant.seed_outdoors %>
      <dd class="col-sm-12">
        Diese Pflanze kann direkt im Freiland ausgesät werden.
      </dd>
    <% else %> 
      <dd class="col-sm-12">
        Diese Pflanze muss vorgezogen werden.
      </dd>
    <% end %> 

    <% if !@plant.crop_time.nil? %>
      <dd class="col-sm-12">
        Die Ernte kann ab ca.
        <%= @plant.crop_time %>
        Monaten nach Aussaat stattfinden.
      </dd>
    <% end %>
  </dl>
  <%= link_to 'Bearbeiten', edit_plant_path(@plant) %>
</section>

<section>
  <h2>Gute Nachbarn</h2>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Begründung</th>
          <th>Freiland</th>
          <th>Zeitpunkt</th>
          <th>Wasserbedarf</th>
          <th>Standort</th>
          <th>Zehrstärke</th>
          <th>Platzbedarf</th>
          <th>Wurzel</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @plant.impacts.where(positive_impact: true).each do |plant| %>
          <tr>
            <td><%= link_to plant.influencer.name, plant.influencer, class: "btn btn-outline-success"%></td>
            <td><%= plant.reason%></td>
            <td>
              <% if plant.influencer.seed_outdoors %>
                Aussaat
              <% else %> 
                Pflanzung
              <% end %>
            </td>
            <td>
              <%= put_outdoors_months(plant.influencer) %>
            </td>
            <td><%=plant.influencer.water_requirement%></td>
            <td><%=plant.influencer.location_requirement%></td>
            <td><%=plant.influencer.fertilizer_requirement%></td>
            <td><%=plant.influencer.dist_to_neighbor%> cm</td>
            <td><%=plant.influencer.root_type%></td>
            <td><%= link_to 'Bearbeiten', edit_impact_path(plant) %></td>
          </tr>
        <% end %>
        <tr>
          <td colspan="10">
            <%= link_to new_impact_path(impact: { influencee_id: @plant.id, positive_impact: true }) do %>
            <i class="fas fa-plus"></i> Neuer guter Nachbar
            <%- end %>
          </td>
        </tr>
      </tbody>
    </table>
  <div class="table-responsive">
</section>

<section>
  <h2>Schlechte Nachbarn</h2>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Begründung</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @plant.impacts.where(positive_impact: false).each do |plant| %>
          <tr>
            <td><%= link_to plant.influencer.name, plant.influencer, class: "btn btn-outline-danger"%></td>
            <td><%= plant.reason%></td>
            <td class="float-right"><%= link_to 'Bearbeiten', edit_impact_path(plant) %></td>
          </tr>
        <% end %>
        <tr>
          <td colspan="9">
            <%= link_to new_impact_path(impact: { influencee_id: @plant.id, positive_impact: false }) do %>
            <i class="fas fa-plus"></i> Neuer schlechter Nachbar
            <%- end %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
  
<%= link_to 'Zurück', plants_path %>
